*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container h1{
    max-width: 900px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}
p{
    font-size: 20px;
    margin: 0 auto;
    max-width: 900px;
    
}
.box{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(135, 184, 232);
    margin-top: 50px;
    border-radius: 40px;
}
.box a{
    margin-left: 300px;
    color: rgb(6, 6, 6);
}